@import url(grid.css);

*{
    margin: 0;
    padding: 4.7px;
    padding-bottom: 6.5px;
}

html {
background: linear-gradient(to bottom, #fff, #a8a8a8);
}

.klokbar {
    display: flex;
    background: linear-gradient(to bottom, #2afadf, #4c83ff);
    width: 70vw;
    height: 4vh;
    margin: 0 auto;
    justify-content: center;
    align-items: center; 
    color: white;
    border-radius: 15px; 
    font-size: 8vw;
    font-style: italic;
}


.søgebar {
    display: flex;
    justify-content: space-between;
    gap: 1vw;
    
}

#søgefelt {
    position: relative;
    background: linear-gradient(to bottom, #2afadf, #4c83ff);
    width: 70vw;
    height: 6vh;
    margin: 0 auto;
    justify-content: center;
    align-items: center; 
    color: white;
    border-radius: 15px; 
    font-size: 8vw;
    font-style: italic;
}

#søgefelt::placeholder {
    color: white;
    
}

.søgebar img {
    position: absolute;
    border-radius: 15px;
    height: 6vh;
    right: 90px;
    top: 396px;
    
}

.vejrudsigten{
    background: linear-gradient(to bottom, #5895ff, #0800ff);
    width: 90vw;
    height: 41vh;
    justify-content: center;
    align-items: center;
    border-radius: 15px;

}

#dag1 {
    background: linear-gradient(to bottom, #2afadf, #4c83ff);
    width: 22vw;
    height: 30vh;
    border-radius: 15px;
    
    
}



#ugeboks{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    padding-top: 6vh;
    padding-left: 3vw;
    
}


.switch {
    display: inline-block;
    position: relative;
    width: 9vw;
    height: 7vh;
    
}

.switch input {
    display: none;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 10px;
    bottom: 0;
    background-color: #acacac;
    transition: 0.4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 5px;
    background-color: #707070;
    transition: 0.4s;
    border-radius: 50%;
}

.switch input:checked + .slider {
    background-color:#00FF11;
}

.switch input:checked + .slider:before {
    transform: translateY(-40px);
}
